/.DS_Store
/.venv
/66.py
/API
/ARRAYS
/Carbon Emission.csv
/CarbonFootprint_Estimator.py
/CodeChef
/Feeling_analyzer.py
/File Handling
/NEW
/PATTERNS
/PREDICTOR
/PY.PNG
/Program.docx
/Program.py
/Project
/Recommendation System
/SCHHOL PROGRAMS
/SEARCHING AND SORTING
/STU.txt
/Student.txt
/Students.txt
/TimeStamps.txt
/Token.py
/WEB SCRAPPING
/_CLASS_
/_Programs_1.py
/_Ptable_.py
/__rough.py
/_conditional statements.py
/_data_structure_1_.py
/_flappy.py
/_funcsss.py
/_functions.py
/_gghh.py
/_list.py
/_loops.py
/_modules.py
/_not_working_functions.py
/_sql_.py
/_stack_.py
/_stk_.py
/dhruv.csv
/dhruv.txt
/document.txt
/file.dat
/industry.csv
/kkll.py
/main.py
/mod.py
/node_modules
/openai.py
/package-lock.json
/package.json
/requirements.txt
/sample_text.txt
/science.txt
/std.csv
/tempCodeRunnerFile.py
/test.txt
/tomandjerry.py
/user.csv
/userdefined.csv
/xx.dat
/xy.dat